In [ ]:
dict1={"a":10, "b":20, "c":30}
for key1, value1 in dict1.items():
    print(key1,value1)

In [ ]:
for key3 in dict1.keys():
    print(key3)

In [ ]:
for value3 in dict1.values():
    print(value3)

In [ ]:
store={"firstname":"jawwad","Lastname":"jawed", "age":22, "City":"Karachi" }
print("first name is "+store["firstname"].title()+".")
print("last name is "+store["Lastname"].title()+".")
print("City name is "+store["City"].title()+".")
print("Age is "+str(store["age"])+".")

In [ ]:
store={"firstname":"jawwad","Lastname":"jawed", "age":22, "City":"Karachi" }
print("Age is "+str(store["age"])+".")

In [ ]:
store={"firstname":"jawwad","Lastname":"jawed", "age":22, "City":"Karachi" }
print("first name is {}".format(store["firstname"]).title()+".")
print("last name is {}".format(store["Lastname"]).title()+".")
print("City name is {} ".format(store["City"]).title()+".")
print("Age is {}".format(store["age"])+".")

In [ ]:
user={"teacher":"sir nasir", "teacher assistant":"shahzad ahsan", "student":"Anas"}
for key, value in user.items():
    print("\nkey: "+ key)
    print("vlaue:" +value)

In [ ]:
names={'shahzad':'ahsan', "sara":"Khan", "komal":"aftab", "hasan":"dhedi"}
for firstname, lastname in names.items():
    print("my first name is"+firstname.title()+"and my last name is" + lastname.title()+"." )

In [ ]:
words={"mobile":"apple", "batsman":"AB", "Bike":"heavy", "CAR":"Audi"}
for word in words.keys():
    print("dict: "+word)

In [ ]:
words={"mobile":"apple", "batsman":"AB", "Bike":"heavy", "CAR":"Audi"}
for word in words.values():
    print("dict:"+word)

In [ ]:
alien1={"name":"Anas", "color":"green", "height":"5.7", "weight":"67"}
if lastname not in alien1.values():
    print("please write your last name also")

In [ ]:
alein=["b","c","e","f","d","g","i","y","x","z"]
alein.sort()
print(alein)

In [ ]:
alein=["b","c","e","f","d","g","i","y","x","z"]
alein.sort(reverse=True)
print(alein)

In [ ]:
print(alein)

In [ ]:
alein=["b","c","e","f","d","g","i","y","x","z"]
sorted(alein)

In [ ]:
print(alein)

In [ ]:
seqTuple = ('P', 'y', 't', 'h', 'o', 'n')
print(list(reversed(seqTuple)))

In [ ]:
listing=[1,2,3,4,5,6,7,8]

In [ ]:
abc=list(reversed(listing))

In [ ]:
abc

In [4]:
alein3={"c":"f","d":"G"}
alein1={"s":"e","j":"k"}
alein2={"y":"u","i":"l"}

alein=[alein3,alein1,alein2]
for aleins in alein:
    for key,value in aleins.items():
        print("\nkey "+ key)
        print("value "+ value)

key c
value f

key d
value G

key s
value e

key j
value k

key y
value u

key i
value l

In [9]:
numbers=[1,2,3,4,5,6,7,8,9,10]

tables=[2,3]

for table in tables:
    for num in numbers:
        print(f"table*num)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30