In [1]:
def function1():
    print("hello")

In [3]:
function1()

hello

In [5]:
function1()
function1()
function1()
function1()
function1()
function1()
function1()

hello
hello
hello
hello
hello
hello
hello

In [19]:
def function2():
    a=2+2*6*8+2
    print (a)

In [20]:
function2()

100

In [23]:
def function3():
    a=8

In [28]:
def addition(a,b,c):
    return a*b/c

d=addition(2,5,6)
d

1.6666666666666667

In [36]:
def addition1(a,b):
    c=a+b
    return c

In [40]:
result=addition1(100,200)
result // 2

150

In [41]:
result+2

302

In [45]:
def addition1(a,b):
    c=a+b
    return c

1

In [44]:
result=addition1(100,200)
result // 2

150

In [53]:
def result(name, m1,m2,m3):
    total=m1+m2+m3
    print(f"name of student is: {name} ")
    print (f"total marks are: {total} ")

In [54]:
result("ali", 78,89,90)

name of student is: ali
total marks are: 257

In [3]:
def results(name,english,urdu,maths):
    total=english+urdu+maths
    per=total/300*100
    grade=""
    if per >=90:
        grade="A+"
    elif per >=80:
        grade="A"
    elif per >=70:
        grade="B"
    elif per >=60:
        grade="C"
    elif per >=50:
        grade="D"
    else: 
        grade="fail"
    return name,total,per,grade

In [5]:
name=input("Enter you name here:  ")
english=int(input("english number: "))
urdu=int(input("urdu number: "))
maths=int(input("maths number: "))
abc=results(name,english,urdu,maths)
print(f'name of student is {abc[0]} \n your obtained marks are {abc[1]} \n your percentage is {abc[2]} \n your grade{abc[3]}')

Enter you name here:  lll
english number: 25
urdu number: 60
maths number: 70
name of student is lll
 your obtained marks are 155
 your percentage is 51.66666666666667
 your gradeD